@import url('https://fonts.googleapis.com/css2?family=Allura&family=Raleway:wght@300&display=swap');
body {
    margin:0;
    background-image: url(../Images/infographics.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Raleway';
    font-size:18px;
    color:#444;
    text-align: center;
    overflow: auto;
}
/*this is a comment*/
img{
    max-width:100%;
}
.title
{
    padding-top: 5%;
    font-size: large;
    font-family: 'Raleway';
    text-align: center;
    color: rgb(20, 80, 150);
    opacity: 0.8;
    padding-bottom: 5%;
}

header {
    text-align: center;
}
hr {
    opacity: 0.6;
    height: 5px;
    margin-right: auto;
    margin-left: auto;
    background-color:#666;
 }

.nav-item{
    padding-left: 5%;
    padding-right: 5%;
    text-decoration: none;
}
nav ul li a{
    text-decoration: none;
    color: #aaa;
}
nav ul li a:hover, nav ul li.active a
{
    opacity: 1;
    color: #fff;
    text-decoration: none;
}
.row{
    background-attachment: fixed;
    background-color: rgba(16, 58, 105, 0.8);
    padding: 2%;
    margin: 2%;
    border-radius: 3%;
}
.row img{
    width:70%;
    margin: 4%;
}
.row h1{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4%;
    color: #ccc;
    padding: 1%;
}
.cfx {
    clear: both;
}

footer{
    background-color: rgb(32, 78, 134);
    width: auto;
    margin-bottom: 2%;
    padding: 1%;
}
.social{
    font-size: 400%;
    text-align: center;
}
.social a {
color: #fff;
padding: 3%;
}
.social a:hover{
    color: #222;
    padding: 3%;
}
#seeprofile {
    background-color: rgb(96, 137, 190);
    border: none;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 24px;
    transition: 0.25s;
    margin: 5%;
    float: right;
  }
  #seeprofile:hover
  {
    background: #5b5;
  }

  #bth{
    background-color: rgba(22, 81, 150, 0.6);
    border: none;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    border-radius: 40px;
    transition: 0.25s;
    margin: 5%;
  }
  #bth:hover
  {   
       background-color: rgba(30,30,100,1);
  }
  
  #button {
  display: inline-block;
  background-color: rgb(22, 141, 196);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 500px) {
  #button {
    margin: 0px;
  }
}
